@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
body {
  font-family: "Quicksand", serif;
  background-color: #ecf9ff;
  color: #272727;
  padding: 1rem;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

footer {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
}

.button, .view-more-projects a.button {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.button:hover, .view-more-projects a.button:hover {
  background-color: #217dbb;
}

footer {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
}

#primary {
  background-color: #f4f4f4;
}

#primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-item {
  flex: 0 0 calc(30% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.project-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button, .view-more-projects a.button {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.button:hover, .view-more-projects a.button:hover {
  background-color: #217dbb;
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

/* Estilização dos títulos e mensagens */
.wpcf7-form .title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

/* Estilização dos inputs e labels */
.wpcf7-form label {
  position: relative;
}

.wpcf7-form input,
.wpcf7-form textarea {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

/* Estilização do botão de envio */
.wpcf7-form input[type=submit] {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
}

.wpcf7-form input[type=submit]:hover {
  background-color: rgb(56, 90, 194);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.proj-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.proj-cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .proj-cards_item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .proj-cards_item {
    width: 33.3333%;
  }
}
.proj-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.proj-card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.proj-card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.proj-card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.proj-btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}
.proj-btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}