body {
    font-family: 'Quicksand', serif;
    background-color: #ecf9ff;
    color: #272727;
    padding: 1rem;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  // Estilos básicos adicionais conforme necessário
  